<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/js/index.js"></script>
    <title>Hello!</title>
</head>
<body>
    <h1>Welcome to my webRTC site!</h1>
    <div class="info">
        room number: <input type="text" id="roomNumber"><br>
        <Button id="joinButton">join</Button>
    </div>
    <input type="submit" value="create room" onclick="location.href='./room/create'">
    <!--<button type="button" onclick="location.href='./rtc'">Start</button>-->
</body>
</html>