<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/js/room.js"></script>
</head>

<body>
    <div id="video-grid">
        <!--
        <video id="localVideo" autoplay width="480px"></video>
        <video id="remoteVideo" width="480px" autoplay></video>
        -->
    </div>
    <div id="buttons">
        <button id="startButton" onclick="startButtonPressed()">Start</button>
        <button id="callButton">Call</button>
        <button id="hangupButton">Hang Up</button>
    </div>

</body>

</html>